@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
  padding: 0;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  overflow-x: hidden;
}

.sider {
  background-color: #fff !important; /* Thay thế màu sắc theo ý muốn */
}

.card-item-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-item-description {
  overflow-y: auto;
  max-height: 100px; /* Set a height limit */
}


